@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato);
/*VARS*/
html {
  height: 100%;
}
body {
  height: 100%;
  color: white;
  font-family: 'Lato';
  background: url(/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mainContainer {
  height: 100%;
}
#mainContainer header {
  width: 100%;
}
#mainContainer header a {
  color: white;
}
#mainContainer header a:hover {
  text-decoration: none;
}
#mainContainer header h1 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 6em;
  text-align: center;
  -webkit-text-shadow: 40px 22px 2px rgba(0, 0, 0, 0.54);
  text-shadow: 40px 22px 2px rgba(0, 0, 0, 0.54);
}
#mainContainer header ul {
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 2px;
}
#mainContainer header ul li {
  list-style: none;
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
}
#mainContainer header ul li .active {
  color: #b92e17;
}
#mainContainer header ul li a:hover {
  color: #e54528;
}
footer {
  margin-top: 25px;
  max-height: 40px;
  background-color: black;
  line-height: normal;
  width: 100%;
}
footer * {
  margin: 5px 15px;
}
footer p {
  float: right;
}
footer .qite {
  float: left;
}
a {
  text-decoration: none;
  color: #b92e17;
}
a:hover {
  text-decoration: underline;
  color: #e54528;
}
blockquote {
  opacity: 0;
  font-size: 1.4em;
  font-style: italic;
  text-align: right;
  font-family: 'Montserrat';
  -webkit-text-shadow: 14px 10px 7px rgba(0, 0, 0, 0.5);
  text-shadow: 14px 10px 7px rgba(0, 0, 0, 0.5);
}
.personItem {
  float: left;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin-left: 15px;
}
.personItem img {
  display: block;
  text-align: center;
}
.personItem p {
  font-size: 1em;
}
.personItem:hover {
  background-color: rgba(229, 69, 40, 0.5);
}
.personItem:hover p {
  color: black;
}
.personItem:hover a {
  text-decoration: none;
}
.descr {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
  border-radius: 2px;
  float: right;
}
a[role=button] {
  background-color: #e54528;
  color: black;
  margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
a[role=button]:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #e54528;
}
